<div class="profile-header">
<h1>Welcome, {{userPlain.username}}!</h1>
</div>

<div class="profile-fav-items">
<h2>💗 CoinQuest Items </h2>
</div>

<div class="profile-item-layout">
<div class="productContainer">
  {{#each products as |product|}}
    <div class="productCards">
      <h3>{{product.title}}</h3>
      <div>
        <a href="/product/{{product.id}}">
          <img src="/images/{{product.filename}}" alt="{{product.title}}" />
        </a>
      </div>
    </div>
  {{/each}}
</div>
</div>